{% extends "master.html" %}

{% block content %}
<!-- Search box -->
<main class="main-home">
    <h1 class="title">VACATION RENTALS</h1>
    <div class="search-container">
        <form class="search-box" method="get" action="{% url 'properties:properties_result' %}">
            <input type="text" id="location-input" name="location" placeholder="Search for a location..."
                autocomplete="off">
            <button class="search-btn" id="search-btn" disabled="true" type="submit">SEARCH</button>
        </form>
        <ul class="suggestions" id="suggestions-list"></ul>
    </div>
</main>

<!-- Script for calling auto complete api -->
<script>
    const input = document.getElementById("location-input");
    const suggestionsList = document.getElementById("suggestions-list");
    const searchBtn = document.getElementById("search-btn");
    let debounceTimer;

    input.addEventListener("input", function () {
        const query = this.value.trim();

        if (query.length === 0) {
            searchBtn.disabled = true;
        } else {
            searchBtn.disabled = false
        }

        if (query.length < 3) {
            suggestionsList.style.display = "none";
            return;
        }

        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(() => {
            fetch(`/locations?q=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsList.innerHTML = "";
                    if (data.length === 0) {
                        suggestionsList.style.display = "none";
                        return;
                    }

                    data.forEach(loc => {
                        const li = document.createElement("li");
                        li.textContent = `${loc.name}, ${loc.city}, ${loc.country}`;
                        li.addEventListener("click", () => {
                            input.value = li.textContent;
                            suggestionsList.style.display = "none";
                        });
                        suggestionsList.appendChild(li);
                    });
                    suggestionsList.style.display = "block";
                });
        }, 300);
    });

    // Hide suggestions if clicked outside
    document.addEventListener("click", function (e) {
        if (!e.target.closest(".search-container")) {
            suggestionsList.style.display = "none";
        }
    });
</script>
{% endblock %}