{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vacation Rentals</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <div class="nav-container">
        <nav class="navbar">
            <div class="logo">
                <a href="/"><span>REN</span><span class="logo-tals">TALS</span></a>
            </div>
            <div class="nav-items">
                <a href="/">HOME</a>
                <a href="/properties">PROPERTIES</a>
                <a class="admin-btn" href="/admin">ADMIN</a>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock %}

</body>

</html>